<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <meta property="qc:admins" content="125777641045247760527351006375" />
  </head>
  <body>
    <h1>HelloWorld</h1>
    <a href="/auth/qq">qq Login</a>
    <hr/>
  </body>
</html>